BreakingCodeWithSingleMainThread/.vs/
BreakingCodeWithSingleMainThread/BreakingCodeWithSingleMainThread/bin/
BreakingCodeWithSingleMainThread/BreakingCodeWithSingleMainThread/obj/
SMSEncryption/SMSEncryption/obj/
SMSEncryption/SMSEncryption/bin/
SMSEncryption/.vs/
OldStarsFinder/.vs/
OldStarsFinder/OldStarsFinder/bin/
OldStarsFinder/OldStarsFinder/obj/
